<div class="album-create-container" [ngClass]="{'with-cover': coverUrl}">
    <div class="cover-image" *ngIf="coverUrl" [ngStyle]="{'background-image': 'url(' + coverUrl + ')'}"></div>
    <mat-card class="album-card">
        <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput id="name" formControlName="name" type="text" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cubierta</mat-label>
                <input matInput id="cover" formControlName="cover" type="text" required (input)="onCoverInput()">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Fecha de lanzamiento</mat-label>
                <input matInput id="releaseDate" formControlName="releaseDate" type="date" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput id="description" formControlName="description" required></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Género</mat-label>
                <mat-select id="genre" formControlName="genre" required>
                    <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Disquera</mat-label>
                <mat-select id="recordLabel" formControlName="recordLabel" required>
                    <mat-option *ngFor="let label of recordLabels" [value]="label">{{ label }}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="albumForm.invalid">
                {{ isEditMode ? 'Actualizar Álbum' : 'Crear Álbum' }}
            </button>
        </form>
    </mat-card>
</div>